/*===================  VARIABLES  ========================= */
:root {--color-light: #FFF; --color-grey: #CED4DA; --color-dark: #333;
    --color-blue: #F0F8FF; --color-blue2: #1188EE; --color-blue3: #0000FFCC;
}

/*=====================  RESET  ========================= */
* {margin: 0; padding: 0; border: none; outline: none; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
ul {list-style: none;}
a {text-decoration: none;}
img {width: 100%;}

/* Estilos para telas menores, como smartphones */
@media screen and (max-width: 785px) {
    img {
        width: 25%;
        padding-right: 10px;
    }
    .menu-flutuante{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--color-light);
        gap: -10px;
        transition: 0.3s;
    }
    .menu-item{
        margin: 16px 0;
    }
}

/* Estilos para telas médias, como tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    img {width: 25%;}
    
}

/* Estilos para telas maiores, como desktops */
@media screen and (min-width: 1025px) {
    img {width: 25%;}
}

.menu-flutuante {
    top: 0;
    left: 0;
    background-color: #FFF;
    padding: 18px 40px;
    width: 100%;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    position: fixed;
}  
.menu-flutuante ul{
    display: flex;
    align-items: center;
    gap: 5rem;
} 
.menu-flutuante ul li a:hover{
    color: var(--color-blue2);
}
.menu-flutuante i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu-flutuante li{
    display: inline-block;
    margin-right: 20px;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--color-dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.main-content {
    width: 100%;
    height: 100%;
    /* display: block; */
    display: contents;
    align-items: center;
    justify-content: space-evenly;
    padding: 6% 10%;
}
.main-content img{
    background-image: url("img\hotel-hero.png");
    height: 100%;
    width: 100%;
}
.main-content .texto-h4{
    font-size: 2rem;
    color: #FFF;
    margin-bottom: 0.5rem;
}
.main-content .texto-h1{
    font-size: 2rem;
    color: #FFF;
    margin-bottom: 0.5rem;
}
.button-elipse{
    background-color:rgb(26, 135, 225,0.7);
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 60%;
}