/*===================  VARIABLES  ========================= */
:root {--color-light: #FFF; --color-grey: #CED4DA; --color-dark: #333;
    --color-blue: #F0F8FF; --color-blue2: #1188EE; --color-blue3: #0000FFCC;
}

/*=====================  RESET  ========================= */
* {margin: 0; padding: 0; border: none; outline: none; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
ul {list-style: none;}
a {text-decoration: none;}
img {width: 100%;}

/* Estilos para telas menores, como smartphones */
@media screen and (max-width: 768px) {
    img {width: 25%;}
}

/* Estilos para telas médias, como tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    img {width: 25%;}
}

/* Estilos para telas maiores, como desktops */
@media screen and (min-width: 1025px) {
    img {width: 25%;}
}

.top-bar{
    /* .hotel-logo;
    .buttons; */
}

.buttons{
    width: 15%;
    height: 15%;
    align-self: flex-end;
}

.hotel-logo{
    background-image: url("img\hotel-logo.png");
}