/*===================  VARIABLES  ========================= */
:root {
    --color-light: #FFF;
    --color-grey: #CED4DA;
    --color-dark: #333;
    --color-blue: #F0F8FF;
    --color-blue2: #1188EE;
    --color-blue3: #0000FFCC;
}

/*=====================  RESET  ========================= */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

/* =======================Responsividade================== */
/* Estilos para telas menores, como smartphones */
@media screen and (max-width: 765px) {
    img {
        width: 30%;
        padding-right: 10px;
    }

    * {
        font-size: 90%;

    }
}

/* Estilos para telas médias, como tablets*/
@media screen and (min-width: 766px) and (max-width: 1024px) {
    img {
        width: 25%;
    }

    * {
        /* outline: auto; */
        font-style: normal;

    }
}

/* Estilos para telas maiores, como desktops */
@media screen and (min-width: 1025px) {
    img {
        width: 25%;
    }

    * {
        font-style: normal;
        font-size: 100%;

    }
}

/* ========================estilizaçãod a página========================== */

a:hover {
    opacity: 0.7;
    color: var(--color-grey);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* Menu principal do site */
.nav {
    top: 0;
    left: 0;
    background-color: #FFF;
    padding: 18px 40px;
    width: 100%;
    height: 13vh;
    box-shadow: 0 0.1rem 0.5rem #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s;
    position: fixed;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 10px;
}

/* =============menu mobile============== */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #333;
    margin: 8px;
    transition: 0.3s;
}

/* estilização do conteúdo principal */
.main-content {
    width: 100%;
    height: 100%;
    display: contents;
    align-items: center;
    justify-content: space-evenly;
    padding: 6% 10%;
}

/* imagem de background do primeiro banner */
.main-content img {
    background-size: cover;
    padding-top: 13vh;
    padding-right: 0;
    height: 100%;
    width: 100%;
}

/* =============Textos no banner da página============= */
.main-content .texto-h4 {
    position: absolute;
    margin-top: -28%;
    margin-left: 24%;
    font-size: 2rem;
    color: #FFF;
    margin-bottom: 0.7rem;
    outline: #1188EE;
    text-shadow: 3px 3px 5px var(--color-blue3);
    text-align: center;
}

.main-content .texto-h1 {
    position: absolute;
    margin-top: -23%;
    margin-left: 30%;
    font-size: 1.2rem;
    color: #FFF;
    margin-bottom: 0.5rem;
    text-shadow: 3px 3px 5px var(--color-blue3);
    text-align: center;
}

/* botão com borda em formato de elipse */
.button-elipse {
    position: absolute;
    margin-top: -19%;
    margin-left: 50%;
    background-color: rgb(26, 135, 225, 0.9);
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 60%;
}
/* ================classe para evitar sobreposição de cor==================== */
.button-elipse a {
    color: #FFF;
}

/* =======================Textos em destaque e titulos======================= */
.h5 {
    align-content: center;
    margin-left: 40%;
}
/* =============================Textos de descrições========================= */
p {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;

}
/* ==========================Linha de separação de seções=================== */
.vertical-line {
    position: absolute;
    align-content: space-around;
    width: 30%;
    height: 3px;
    background-color: #0381ed;
    margin-left: 35%;
    margin-right: 35%;
}
/* ==========================Grid de fotos================================= */
.grid-fotos {
    background-size: cover;
    display: block;
    justify-content: space-around;
    padding-left: 15%;
    margin-top: 8%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 8%;
}

/* .grid-fotos .crop {
    width: 50%;
    border-image-slice: 60%;
    border-image-repeat: stretch;

} */

.email-cad{
    display: flex;
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 3%;
}
.email-cad .email{
    border-image: round;
}
.email-cad .btn-cadastrar{
    color: var(--color-light) ;
    border-radius: 15%;
}

.icon-offer {
    display: flex;
    background-color: var(--color-blue);
}
.icon-offer li{
    margin-left: 24%;
}
.icon-offer .descricao{
    position: relative;
    top: 5%;
    left: 5%;

    display: flex;
    
}
.icon-offer i{
    
}

footer{
    background-color: var(--color-blue2);
    padding-bottom: 5vh;
    padding-top: 1vh;
    color: #F0F8FF;
}
footer a{
    position: relative;
    left: 50vw;
    top: -2vh;
    font-style: italic;
}
footer i{
    position: relative;
    left: 50vw;
    top: -2vh;
    padding-left: 1%;
}